<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>Device Detail</h1>
  <p><strong> Asset ID:</strong>{{device.asset_id}}</p>
  <p><strong>Serial Number:</strong>{{device.serial_number}}</p>
  <p><strong>Device Type:</strong>{{device.device_type}}</p>
  <p><strong>Manufacturer:</strong>{{device.manufacturer}}</p>
  <p><strong>Location:</strong>{{device.location}}</p>
  <p><strong>Status:</strong>{{device.get_status_display}}</p>
  <p><strong>Status Note:</strong>{{device.status_note}}</p>
  <p><strong>General Note:</strong>{{device.general_note}}</p>
  <p><strong>Created At:</strong>{{device.created_at}}</p>
  <p><strong>Updated At:</strong>{{device.updated_at}}</p>
  <p><strong>Created By:</strong>{{device.created_by}}</p>
  <p><strong>Updated By:</strong>{{device.updated_by}}</p>
</body>
</html>