{% extends "core/base.html" %}
{% block content %}

<form method="get">Search - {{search}}
  <input
  type="text"
  name="search"
  value="{{search}}"
  placeholder="Asset ID or Serial Number"
  >


<button type="submit">Search</button>

    <select name="location">
        <option value="">All Locations</option>
        {% for loc in locations %}
            <option value="{{loc.id}}"
                    {% if location == loc.id|stringformat:"s" %}selected{% endif %}>
                {{ loc }}
        </option>
        {% endfor %}
    </select>

    <select name="status">
        <option value="">All Statuses</option>
        {% for value,label in status_choices %}
            <option value="{{ value }}"
                {% if status == value %}selected{% endif %}>
            {{label}}
        </option>
        {% endfor %}
    </select>

    <select name="manufacturer">
        <option value="">All Manufacturers</option>
            {% for manu in manufacturers %}
                <option value="{{manu.id}}"
                        {% if manufacturer == manu.id|stringformat:"s" %}selected{% endif %}>
                {{manu}}
        </option>
        {% endfor %}
    </select>

    <select name="device_type">
        <option value="">All Device Types</option>
        {% for device_type in device_types %}
            <option value="{{value}}"
                    {% if status == value %}selected{% endif %}>
                    {{device_type}}
                    </option>
            {% endfor %}
    </select>

    {% if search  or status or location or manufacturer or device_type %}
        <a href="{% url 'device_list' %}">Clear</a>
    {% endif %}

</form>



<table>
        <thead>
        <tr>
          <th>Asset ID</th>
          <th>Device Type</th>
          <th>Manufacturer</th>
          <th>Location</th>
          <th>Status</th>
        </tr>
        </thead>
    <tbody>
    {% if  perms.locations.add_device %}
        <a href="{% url 'create_device' %}">Add Device</a>

            {% endif %}

    {% for device in devices %}
    <tr>
    <td>

        <a href="{% url 'device_detail' device.id %}">
            {{device.asset_id}}
        </a>
           </td>

    <td>{{device.device_type}}</td>
     <td>{{device.manufacturer}}</td>
     <td>{{device.location}}</td>
     <td>{{device.get_status_display}}</td>
    </tr>

    <tr>
    {% empty %}
        <td colspan="5">No Devices found.</td>
    </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}