<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ ticket.title}}</title>
</head>
<body>

<h1>{{ ticket.title }}</h1>


<p><strong>Description:</strong>{{ ticket.description }}</p>
<p><strong>Status:</strong> {{ ticket.get_status_display }}</p>
<p><strong>Priority:</strong>{{ticket.get_priority_display }}</p>
<p><strong>Assigned to:</strong>{{ ticket.assigned_to }}</p>
<p><strong>Reported by:</strong>{{ ticket.reported_by }}</p>
<p><strong>Created at:</strong> {{ ticket.created_at }}</p>

<h2>Comments</h2>

{% for comment in comments %}
    <p><strong>Author:</strong>{{comment.author}}</p>
    <p><strong>Created At:</strong>{{comment.created_at}}</p>
    <p>{{comment.comment}}</p>
{% empty %}
    <p>No comments yet.</p>
{% endfor %}

{% if comment_form %}
<h2>Add Comments</h2>

    <form method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}

    <button type="submit">Add Comment</button>
    </form>
{% endif %}

{% if  can_take_ticket %}
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="take_ticket">Take Ticket</button>
    </form>
{% endif %}

{% if messages %}
    {% for message in messages %}
        <p>{{message }}</p>
    {% endfor %}
{% endif %}

{% if status_form %}
    <h2>Update Status</h2>

    <form method="post">
        {% csrf_token %}
        {{status_form.as_p}}
        <button type="submit" name="update_status">Update Status</button>
    </form>
{% endif %}


<h2>Status History</h2>


{% for history in status_history %}
    <p><strong>Previous Status:</strong>{{ history.get_previous_status_display }}</p>
    <p><strong>New Status:</strong> {{ history.get_new_status_display }}</p>
    <p><strong>Changed By:</strong>{{history.changed_by }}</p>
    <p><strong>Changed At:</strong>{{ history.changed_at }}</p>
    <p><strong>Note:</strong>{{ history.note }}</p>
<hr>
{% empty %}
    <p>No status history yet.</p>
{% endfor %}

<h2>Assignment History</h2>

{% for history in assignment_history %}
    <p><strong>Previous Assignee:</strong>{{history.previous_assignee}}</p>
    <p><strong>New Assignee:</strong>{{history.new-assignee}}</p>
    <p><strong>Changed By:</strong>{{history.changed_by}}</p>
    <p><strong>Changed At:</strong>{{history.changed_at}}</p>
    <p><strong>Note:</strong>{{history.note}}</p>
<hr>
{% empty %}
    <p>No Assignment history found</p>
{% endfor %}


</body>
</html>